@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);

  --fuente-principal: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--Grey-900);
  width: 375px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 115px;
  font-family: var(--fuente-principal);

  @media (min-width: 800px) {
    width: 100%;
    padding-top: 170px;
  }
}